
@{
    ViewBag.Title = "Index";
}
<script>
    System.import('app').catch(function(err){ console.error(err); });
</script>

<body>
    <user-app><div class="contain"><img src="../../images/firstload.gif" width="164" height="164" /></div><user-app>
</body>
