<div class="layout-sidebar">
    <div class="sidebar-logo">
        <a routerlink="/home">
            <img alt="logo" src="../../images/logo-slim.png">
            <span class="app-name">SERENITY</span>
        </a>
        <a class="sidebar-anchor" href="#" title="Toggle Menu"></a>
    </div>
    <p-scrollPanel>
        <ul app-submenu="" class="layout-menu" root="true" visible="true">
            <!---->
            <li class="ng-tns-c1-0">
                <!---->
                <!----><a class="ripplelink" routerlink="home/user" routerlinkactive="active-menuitem-routerlink">
                    <i class="material-icons">dashboard</i>
                    <span class="menuitem-text">Dashboard</span><span class="ink ripple-animate" style="height: 218px; width: 218px; top: -86px; left: 21px; pointer-events: none;"></span>
                    <!---->
                    <!---->
                </a>
                <!---->
            </li>

            <li class="ng-tns-c1-0">
                <!---->
                <!----><a class="ripplelink active-menuitem-routerlink" routerlinkactive="active-menuitem-routerlink" href="#/documentation">
                    <i class="material-icons">find_in_page</i>
                    <span class="menuitem-text">Docs</span><span class="ink ripple-animate" style="height: 218px; width: 218px; top: -104px; left: 2px; pointer-events: none;"></span>
                    <!---->
                    <!---->
                </a>
                <!---->
            </li>

        </ul>
    </p-scrollPanel>
</div>